.container {
    display: flex;
    justify-content: center;
    font-family: monospace;
    flex-wrap: wrap;
}

.control {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 8px;
    border: solid 0.5px rgb(32, 76, 127);
    width: 300px;
    border-radius: 16px;
}

button {
    background-color: white;
    color: rgb(103, 163, 134);
    width: 100px;
    font-size: 30px;
    border-radius: 16px;
    border: solid 0.5px rgb(32, 76, 127);
    margin: 15px;
}